:root {
  --color-base-background: #00233c;
  --color-base-background-lighter: #00233c;
  --color-base-text: #fff;
  --color-base-text-lighter: rgba(212, 231, 241, 0.6);
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #2aa;
  --color-primary-text: #d6efef;
}
